//Author: Jay Patel (B00881906)
.ticket-list-view-content {
  .cards {
    display: flex;
    flex-direction: column;

    .card {
      padding: 12px;
      margin: 4px;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }

      .desc {
        color: grey;
      }
    }
  }
}
